In [69]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

In [70]:
pwd

'/home'

In [71]:
p_monthly = pd.read_csv('/home/pmonthly.csv')
p_daily = pd.read_csv('/home/pdaily.csv')
b_monthly = pd.read_csv('/home/bmonthly.csv')
b_daily = pd.read_csv('/home/bdaily.csv')
r_monthly = pd.read_csv('/home/rmonthly.csv')
r_daily = pd.read_csv('/home/rdaily.csv')
r_p_monthly = pd.read_csv('/home/r_pmonthly.csv')
r_p_daily = pd.read_csv('/home/r_pdaily.csv')
r_b_monthly = pd.read_csv('/home/r_bmonthly.csv')
r_b_daily = pd.read_csv('/home/r_bdaily.csv')
r_r_monthly = pd.read_csv('/home/r_rmonthly.csv')
r_r_daily = pd.read_csv('/home/r_rdaily.csv')

In [72]:
var_DIN = ['DIN']
var_PIP = ['PIP']
var_TN = ['TOTAL_NITROGEN']
var_CHL = ['Chl_a_sum']

In [87]:
def choose_one(dataset, var):
    return dataset.loc[dataset['Variable'].isin(var)][['Aggregated Date/Time', 'mean']]

In [88]:
p_monthly_DIN = choose_one(p_monthly, var_DIN)
p_daily_DIN = choose_one(p_daily, var_DIN)
b_monthly_DIN = choose_one(b_monthly, var_DIN)
b_daily_DIN = choose_one(b_daily, var_DIN)
r_monthly_DIN = choose_one(r_monthly, var_DIN)
r_daily_DIN = choose_one(r_daily, var_DIN)

In [89]:
p_monthly_DIN

     Aggregated Date/Time        mean
0        2013-04-01T00:00   26.394120
1        2013-04-01T00:00    5.343091
2        2013-04-01T00:00    0.823427
3        2013-04-01T00:00    1.040540
4        2013-04-01T00:00   13.213733
...                   ...         ...
2880     2019-04-01T00:00  164.514308
2881     2019-04-01T00:00   91.045406
2882     2019-04-01T00:00   41.682598
2883     2019-04-01T00:00   58.166616
2884     2019-04-01T00:00  136.388520

[365 rows x 2 columns]

In [91]:
p_2013_DIN = p_monthly_DIN
p_2013_DIN['date'] = pd.date_range('2013-04-01', periods=365, freq='m')
p_2013_DIN = p_2013_DIN.set_index(['date'])
print(p_2013_DIN.loc['2013-04-01':'2014-03-01'])

           Aggregated Date/Time       mean
date
2013-04-30     2013-04-01T00:00  26.394120
2013-05-31     2013-04-01T00:00   5.343091
2013-06-30     2013-04-01T00:00   0.823427
2013-07-31     2013-04-01T00:00   1.040540
2013-08-31     2013-04-01T00:00  13.213733
2013-09-30     2013-05-01T00:00  11.338070
2013-10-31     2013-05-01T00:00   1.136144
2013-11-30     2013-05-01T00:00   0.251569
2013-12-31     2013-05-01T00:00   0.194275
2014-01-31     2013-05-01T00:00   3.335427
2014-02-28     2013-06-01T00:00   1.021446

In [77]:
def produce_time(dataset):
    time = []
    for index, row in dataset.iterrows():
        if row['Aggregated Date/Time'] not in time:
            time.append(row['Aggregated Date/Time'])
    return time

In [79]:
monthly_time = produce_time(p_2013_DIN)

In [80]:
def total_average(dataset, period, name):
    average = []
    count = 0
    current = 0
    for index, row in dataset.iterrows():
        current += row['mean']
        count += 1
        if count == 5:
            average.append(current / 5)
            current = 0
            count = 0
    total_area_average = {name: average}
    if period == 'm':
        return pd.DataFrame(total_area_average, index = monthly_time)

In [82]:
p_2013_DIN = total_average(p_monthly_DIN, 'm', 'p_2013_DIN')

In [83]:
p_2013_DIN

                  p_2013_DIN
2013-04-01T00:00    9.362982
2013-05-01T00:00    3.251097
2013-06-01T00:00    0.393752
2013-07-01T00:00    0.190812
2013-08-01T00:00    0.089198
...                      ...
2018-12-01T00:00    2.664967
2019-01-01T00:00   10.327300
2019-02-01T00:00  126.446478
2019-03-01T00:00  133.500417
2019-04-01T00:00   98.359490

[73 rows x 1 columns]